@model Insurance.WEB.Models.CadastroModel
@{
    ViewBag.Title = "SelecionaCliente";
}

<h2>Selecione o cliente</h2>

<noscript>
    <p>Você necessita habilitar o Javascript para utilizar essa página</p>
</noscript>

    